<template>
    <div class="container">
        <form method="post">
            <label>URL</label>
            <input v-model="url" type="url" name="url" placeholder="Enter a URL with http://"/>
            <input @click.prevent="send" type="submit" name="Shorten"/>

            <div id="shorUrl"></div>
        </form>
    </div>
</template>

<script>
    export default {
        data () {
          return {
              url: null
          }
        },
        methods: {
            send () {
                fetch('/api', {
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    method: 'post',
                    body: JSON.stringify({url: this.url})
                })
                .then((response) => {
                    if (!response.ok) {
                        document.querySelector('#shorUrl').innerHTML = response.statusText;
                    }
                    return response.json()
                })
                .then((json) => {
                    document.querySelector('#shorUrl').innerHTML = json.short_url
                })
            }
        }
    }
</script>
